In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [97]:
#DATASET HAS TO BE CHANGED!!!!!
# Processed_data.csv has unknown gender values but the EDA_data.csv doesnt have unknown gender. 


df = pd.read_csv('processed_data.csv')
df['gender'].unique()

array([0, 1, 2])

In [98]:
# df = pd.read_csv('train_format2.csv', iterator=True, chunksize=10000)

# df = pd.concat(df , ignore_index=True)

In [99]:
df.isnull().any()

user_id        False
age_range      False
gender         False
merchant_id    False
label          False
item_id        False
category_id    False
brand_id       False
time_stamp     False
action_type    False
dtype: bool

In [100]:
#DF for logging User actions 

user_action = df.groupby('user_id').size().to_frame().reset_index()
user_action.columns = ['user_id','user_total_action']
user_action.head()

   user_id  user_total_action
0      170                  2
1      393                  1
2      699                  1
3      784                  1
4      867                  1

In [101]:
from sklearn.preprocessing import label_binarize
import numpy as np

In [102]:
#Numerizing Gender from categorical value

df.loc[df['gender'].isna(), 'gender'] = '2'
df.gender.unique()

array([0, 1, 2], dtype=object)

In [103]:
df

,user_id,age_range,gender,merchant_id,label,item_id,category_id,brand_id,time_stamp,action_type
0,34944,5,0,2116,-1,867,656,7334,1017,0
1,252288,3,0,3990,-1,825,662,5644,819,0
2,210048,3,1,4255,-1,866,1213,1573,711,2
3,210048,3,1,4255,-1,866,1213,1573,711,0
4,210048,3,1,4255,-1,866,1213,1573,711,0
...,...,...,...,...,...,...,...,...,...,...
4639,230015,4,0,4255,-1,866,1213,1573,710,2
4640,230015,4,0,4255,-1,866,1213,1573,710,0
4641,64895,3,0,3491,-1,860,1238,3969,529,0
4642,5759,6,0,4255,-1,866,1213,1573,815,2
4643,96383,4,1,3462,-1,916,563,2997,904,0

In [106]:
gender_values = np.array(df['gender'])

is_female = (gender_values == 0)
is_male = (gender_values == 1)
is_unknown = (gender_values == 2)

df['user_gender_female'] = is_female.astype(int)
df['user_gender_male'] = is_male.astype(int)
df['user_gender_unknown'] = is_unknown.astype(int)

In [107]:
df

,user_id,age_range,gender,merchant_id,label,item_id,category_id,brand_id,time_stamp,action_type,user_gender_female,user_gender_male,user_gender_unknown
0,34944,5,0,2116,-1,867,656,7334,1017,0,1,0,0
1,252288,3,0,3990,-1,825,662,5644,819,0,1,0,0
2,210048,3,1,4255,-1,866,1213,1573,711,2,0,1,0
3,210048,3,1,4255,-1,866,1213,1573,711,0,0,1,0
4,210048,3,1,4255,-1,866,1213,1573,711,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4639,230015,4,0,4255,-1,866,1213,1573,710,2,1,0,0
4640,230015,4,0,4255,-1,866,1213,1573,710,0,1,0,0
4641,64895,3,0,3491,-1,860,1238,3969,529,0,1,0,0
4642,5759,6,0,4255,-1,866,1213,1573,815,2,1,0,0
4643,96383,4,1,3462,-1,916,563,2997,904,0,0,1,0